*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  background-color: #ededed;
  font-size: 12px; }

.main-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 100px;
  width: 90vw; }
  @media only screen and (max-width: 1400px) {
    .main-container {
      width: 100vw; } }

.header {
  display: flex;
  justify-content: space-between;
  margin: 50px 20px; }
  .header .button {
    border: 0; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 21px;
  font-weight: lighter; }

h2 {
  font-size: 14px; }

.quote {
  font-size: 12px; }

.author {
  font-size: 11px; }

.likes {
  font-size: 12px; }

.column {
  background-color: #fff;
  float: left;
  min-height: 120px;
  width: 100%; }
  .column-list {
    align-items: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
    border-left: 0.5px solid rgba(0, 0, 0, 0.3);
    border-right: 0.5px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    text-align: left;
    vertical-align: middle; }
    .column-list .book-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 65%; }
      .column-list .book-container h2 {
        width: 110px; }
      .column-list .book-container .author {
        color: #8a8a8a;
        width: 80px; }
      .column-list .book-container .quote {
        color: #8a8a8a;
        padding: 0 30px;
        width: 35vw; }
    .column-list .image-container {
      align-items: center;
      background-color: #a1ebed;
      display: flex;
      height: 120px;
      justify-content: center;
      padding: 15px;
      width: 10%; }
      .column-list .image-container img {
        width: 60px; }
    .column-list .submenu-container {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 20%; }
      .column-list .submenu-container .likes {
        align-items: center;
        color: #8a8a8a;
        display: flex; }
        .column-list .submenu-container .likes .material-icons {
          padding: 2px; }
    .column-list .submenu {
      display: inline-block;
      position: relative; }
      .column-list .submenu .material-icons {
        padding: 10px; }
    .column-list .submenu:hover {
      background-color: #46494d;
      color: #fff;
      cursor: pointer; }
    .column-list .submenu-content {
      background-color: #46494d;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      color: #fff;
      display: none;
      font-size: 13px;
      min-width: 160px;
      position: absolute;
      right: 0;
      z-index: 1; }
      .column-list .submenu-content ul li {
        cursor: pointer;
        list-style-type: none;
        padding: 12px 16px; }
        .column-list .submenu-content ul li p {
          color: #a2a2a3;
          font-size: 9px;
          padding-top: 2px; }
      .column-list .submenu-content ul li:hover {
        background-color: #61656b; }
      .column-list .submenu-content ul li:hover:after {
        background-color: #61656b; }
    .column-list .submenu:hover .submenu-content {
      display: block; }
    .column-list.first {
      border-top: 0.5px solid rgba(0, 0, 0, 0.3); }
    .column-list-headers ul {
      display: flex;
      flex-direction: row; }
      .column-list-headers ul li {
        list-style-type: none; }
      .column-list-headers ul .title {
        width: 18%; }
      .column-list-headers ul .quote {
        width: 45%; }
      .column-list-headers ul .author {
        width: 7%; }
      .column-list-headers ul .cover {
        width: 17%; }
      .column-list-headers ul .likes {
        width: 13%; }

@media only screen and (max-width: 768px) {
  .column-list {
    flex-direction: column; }
    .column-list-headers {
      display: none; }
    .column-list .book-container {
      flex-direction: column; }
      .column-list .book-container h2 {
        text-align: center;
        width: 100%; }
      .column-list .book-container .quote {
        padding: 10px 0;
        width: 100%; }
    .column-list .image-container {
      width: 100%; } }

.grid-headers {
  display: none; }

.grid {
  border: 0;
  flex-direction: row;
  margin: 20px;
  min-height: 340px;
  position: relative;
  width: 320px; }
  .grid.first {
    border: 0; }
  .grid .book-container {
    align-items: flex-start;
    flex-direction: column;
    height: 340px;
    justify-content: flex-start;
    margin: 0 10px;
    order: 2;
    padding: 15px 0; }
    .grid .book-container .quote {
      padding: 10px 0;
      width: 180px; }
  .grid .submenu-container {
    background-color: #99c6e0;
    bottom: 0;
    justify-content: space-between;
    padding: 0 15px;
    position: absolute;
    width: 100%; }
  .grid .image-container {
    align-items: flex-start;
    height: 340px;
    width: 90px; }
  @media only screen and (max-width: 1200px) {
    .grid {
      margin: 10px 5px; } }
  @media only screen and (max-width: 768px) {
    .grid {
      margin: 10px 5px; } }

@media only screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    margin: auto; } }
