*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // Definition of 1rem
  //   font-size: 62.5%; // 1rem = 10px

  font-size: 12px;
  background-color: #ededed;

  // @include respond(tab-land) {
  // 	font-size: 56.25%;
  // }

  // @include respond(tab-port) {
  // 	font-size: 50%;
  // }

  // @include respond(big-desktop) {
  // 	font-size: 75%;
  // }
}
