.column {
  float: left;
  width: 100%;
  min-height: 120px;
  background-color: #fff;

  &-list {
    border-bottom: 0.5px solid rgba(#000, 0.3);
    border-right: 0.5px solid rgba(#000, 0.3);
    border-left: 0.5px solid rgba(#000, 0.3);

    display: flex;
    flex-direction: row;

    text-align: left;
    vertical-align: middle;
    align-items: center;

    .item {
      min-height: 150px;
      display: flex;
      align-items: center;
      margin: auto;

      &.title-container {
        width: 150px;
      }

      &.quote-container {
        color: #8a8a8a;

        width: 350px;
      }

      &.author-container {
        color: #8a8a8a;

        width: 100px;
      }

      &.image-container {
        padding: 15px;
        background-color: #a1ebed;
        justify-content: center;
        width: 150px;

        img {
          width: 60px;
        }
      }

      &.likes-container {
        width: 50px;

        color: #8a8a8a;

        .likes {
          display: flex;
          align-items: center;

          .material-icons {
            padding: 2px;
          }
        }
      }
    }

    .submenu {
      position: relative;
      display: inline-block;

      .material-icons {
        padding: 10px;
      }
    }

    .submenu:hover {
      cursor: pointer;
      color: #fff;
      background-color: #46494d;
    }

    .submenu-content {
      display: none;
      position: absolute;
      right: 0;
      background-color: #46494d;
      color: #fff;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      // padding: 12px 16px;
      z-index: 1;
      font-size: 13px;

      ul {
        li {
          padding: 12px 16px;
          list-style-type: none;
          cursor: pointer;

          p {
            padding-top: 2px;
            font-size: 9px;
            color: #a2a2a3;
          }
        }

        li:hover {
          background-color: #61656b;
        }

        li:hover:after {
          background-color: #61656b;
        }
      }
    }

    .submenu:hover .submenu-content {
      display: block;
    }

    &.first {
      border-top: 0.5px solid rgba(#000, 0.3);
    }

    &-headers {
      ul {
        display: flex;
        flex-direction: row;

        li {
          list-style-type: none;
        }

        .title {
          width: 20%;
        }

        .quote {
          width: 50%;
        }

        .author {
          width: 9%;
        }

        .cover {
          width: 6%;
        }

        .likes {
          width: 15%;
        }
      }
    }
  }
}

.grid {
  width: 50%;

  min-height: 550px;
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}
