//
// List view
//

.column {
  background-color: #fff;
  float: left;
  min-height: 120px;
  width: 100%;

  &-list {
    align-items: center;
    border-bottom: 0.5px solid rgba(#000, 0.3);
    border-left: 0.5px solid rgba(#000, 0.3);
    border-right: 0.5px solid rgba(#000, 0.3);
    display: flex;
    flex-direction: row;
    text-align: left;
    vertical-align: middle;

    .book-container {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 65%;

      h2 {
        width: 110px;
      }

      .author {
        color: #8a8a8a;
        width: 80px;
      }

      .quote {
        color: #8a8a8a;
        padding: 0 30px;
        width: 35vw;
      }
    }

    .image-container {
      align-items: center;
      background-color: #a1ebed;
      display: flex;
      height: 120px;
      justify-content: center;
      padding: 15px;
      width: 10%;

      img {
        width: 60px;
      }
    }

    .submenu-container {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 20%;

      .likes {
        align-items: center;
        color: #8a8a8a;
        display: flex;

        .material-icons {
          padding: 2px;
        }
      }
    }

    .submenu {
      display: inline-block;
      position: relative;

      .material-icons {
        padding: 10px;
      }
    }

    .submenu:hover {
      background-color: #46494d;
      color: #fff;
      cursor: pointer;
    }

    .submenu-content {
      background-color: #46494d;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      color: #fff;
      display: none;
      font-size: 13px;
      min-width: 160px;
      position: absolute;
      right: 0;
      z-index: 1;

      ul {
        li {
          cursor: pointer;
          list-style-type: none;
          padding: 12px 16px;

          p {
            color: #a2a2a3;
            font-size: 9px;
            padding-top: 2px;
          }
        }

        li:hover {
          background-color: #61656b;
        }

        li:hover:after {
          background-color: #61656b;
        }
      }
    }

    .submenu:hover .submenu-content {
      display: block;
    }

    &.first {
      border-top: 0.5px solid rgba(#000, 0.3);
    }

    &-headers {
      ul {
        display: flex;
        flex-direction: row;

        li {
          list-style-type: none;
        }

        .title {
          width: 18%;
        }

        .quote {
          width: 45%;
        }

        .author {
          width: 7%;
        }

        .cover {
          width: 17%;
        }

        .likes {
          width: 13%;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .column-list {
    flex-direction: column;

    &-headers {
      display: none;
    }

    .book-container {
      flex-direction: column;

      h2 {
        text-align: center;
        width: 100%;
      }

      .quote {
        padding: 10px 0;
        width: 100%;
      }
    }

    .image-container {
      width: 100%;
    }
  }
}

//
// Grid view
//

.grid-headers {
  display: none;
}

.grid {
  border: 0;
  flex-direction: row;
  margin: 20px;
  min-height: 340px;
  position: relative;
  width: 320px;

  &.first {
    border: 0;
  }

  .book-container {
    align-items: flex-start;

    flex-direction: column;

    height: 340px;
    justify-content: flex-start;
    margin: 0 10px;
    order: 2;
    padding: 15px 0;

    .quote {
      padding: 10px 0;
      width: 180px;
    }
  }

  .submenu-container {
    background-color: #99c6e0;
    bottom: 0;
    justify-content: space-between;
    padding: 0 15px;
    position: absolute;
    width: 100%;
  }

  .image-container {
    align-items: flex-start;

    height: 340px;
    width: 90px;
  }

  @media only screen and (max-width: 1200px) {
    margin: 10px 5px;
  }

  @media only screen and (max-width: 768px) {
    margin: 10px 5px;
  }
}

@media only screen and (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
