body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 21px;
  font-weight: lighter;
}

h2 {
  font-size: 14px;
}

.quote {
  font-size: 12px;
}

.author {
  font-size: 11px;
}

.likes {
  font-size: 12px;
}
